#email-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Fill the email field out, please
      .modal-body
        .form-group
          = simple_form_for current_user, url: course_subscriptions_path(course), method: :post, remote: true do |f|
            .box-body
              .form-group
                = f.input :email, placeholder: 'Enter email', input_html: { class: 'form-control' }
            = f.submit 'Save', class: 'btn btn-primary'
