.box-header.with-border
  %h1.box-title= "Participants of the \"#{course.title}\" course"
- if user_signed_in? && !blocked_user? && current_user.id != course.user_id
  #subscription-button{ style: ('display: none;' if current_user.participate_in?(course.id)) }
    .row
      .col-xs-2.col-sm-2.col-md-2.col-lg-2
        = link_to 'Subscribe', course_subscriptions_path(course), class: 'btn btn-block btn-info', method: :post, remote: true

%table.table.table-bordered
  %tbody#participants-list
    %tr
      %th User
      %th Action
    - @users.each do |user|
      = render 'participant', course: course, user: user
