#homework-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Put your homework, please
      .modal-body
        .form-group
          = simple_form_for :homework, url: course_lesson_homeworks_path(lesson_id: lesson.attributes['id'], course_id: lesson.course['id']), method: :post, remote: true do |f|
            = f.input :hw_text, as: :text, label: 'Enter the homework text', placeholder: 'Enter', input_html:{ class: 'form-control', row: '3', style: 'height: 150px;' }

            = f.submit 'Save', class: 'btn btn-primary'
