%h1 Courses
- if @courses.present?
  %section.content
    .row
      - @courses.each do |course|      
        .col-md-4
          .box.box-widget
            .box-header.with-border
              .user-block
                = image_tag current_user.profile.thumb_40x40, class: 'img-circle', alt: 'User Image'
                %span.username
                  %a{:href => "#"} Jonathan Burke Jr.
                %span.description Shared publicly - 7:30 PM Today
              / /.user-block
              .box-tools
                %button.btn.btn-box-tool{"data-toggle" => "tooltip", :title => "Mark as read"}
                  %i.fa.fa-circle-o
                %button.btn.btn-box-tool{"data-widget" => "collapse"}
                  %i.fa.fa-minus
                %button.btn.btn-box-tool{"data-widget" => "remove"}
                  %i.fa.fa-times
              / /.box-tools
            / /.box-header
            .box-body
              = image_tag course.picture.thumb, class: 'img-responsive pad', alt: 'Photo'
              %h2= course.title              
            / /.box-body
        / ./col  
  = paginate @courses
- else
  %h2 No courses
